@import "tailwindcss";

:root {
  --background: #FFFFFF;
  --foreground: #001219;
  --offwhite: #F2F0EF;
  --accent: #A30000;
  --secondary: #850000;
  --active: #6d0000;
  --lightbg: #F2F0EF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-offwhite: var(--offwhite);
  --color-accent: var(--accent);
  --font-heading: var(--font-heading);
  --font-body: var(--font-body);
  --color-secondary: var(--secondary);
  --color-active: var(--active);
  --color-lightbg: var(--lightbg)
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FFFFFF;
    --foreground: #001219;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
